@import "nullable.scss";

body{
    background: #303030;
}
.hidden{
    visibility: hidden;
}
.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@font-face {
    font-family: "gost";
    src: url("../fonts/gost.ttf") format("truetype");
}

// .border{
//     border: 0.1px solid red; // рамка 
// }

.main-grid{
    display: grid;
    grid-template-columns: 250px 1fr;
    height: 100%;
}

.left-grid{
    display: grid;
    gap: 25px;
    background: #4882b8;
    grid-template-columns: 1fr;
    grid-template-rows: 80px 1px 5fr 1fr;
    .brand-grid{
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        gap: 20px;
        img{
            width: 65px;
            justify-self: end;
            cursor: pointer;
        }
        a{
            font-family: "gost";
            color: #fff;
            font-size: 20px;
        }
    }
    .separator{
        height: 1px;
        border-top: 1px solid #dddddd94;
        margin: 0 30px; // up-down left-right
        //border: 0.1px solid red; // рамка 
    }
    .programs-grid{
        display: grid;
        gap: 20px;
        .program-item{
            cursor: pointer;
            transition: transform 1s ease;
            color: #fff;
            font-family: "gost";
            font-size: 25px;
            justify-self: center;
            align-self: center;
            .arrow{
                margin-left: 25px;
                font-size: 20px;
                color: #eeeeee;
            }
        }
        .program-item:hover {
            transform: translateX(15px);
        }
        .program-item.hover {
            transform: translateX(15px);
        }
    }
    .designed{
        align-self: end;
        .designed-text{
            color: #ddddddb2;
            font-family: "gost";
            font-size: 16px;
        }
        .designed-text:nth-child(1){
            margin: 0px 0px 0px 10px; // up right down left
        }
        .designed-text:nth-child(2){
            color: #dddddd;
            font-weight: bold;
        }
    }
}

.right-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    .program-info-grid{
        display: grid;
        gap: 20px;
        grid-template-rows: 1fr 4fr 1fr 1fr;
        margin: 50px 50px 0px 50px; // up right down left
        color: #bbb;
        font-family: gost;
        .tittle{
            font-size: 32px;
            font-weight: bold;
            .nedohackers{
                color: #eeeeee;
            }
        }
        .discription{
            font-size: 28px;
            color: #ddddddc9;
            .my-yt{
                color: rgb(252, 157, 157);
                font-weight: bold;
            }
            .my-tg{
                color: rgb(157, 214, 252);
                font-weight: bold;
            }
            p{
                cursor: pointer;
                font-size: 22px;
                text-decoration: underline;
                color: #bbbbbb83
            }
        }
        .download{
            cursor: pointer;
            visibility: hidden;
            background: #4882b8;
            justify-self: center;
            align-self: center;
            padding: 18px 70px;
            border-radius: 100px;
            border: 2px solid #69a4db;
            transition: transform 1.2s ease;
            span{
                font-size: 28px;
                color: #fff;
            }
        }
        .download:hover {
            transform: scale(1.04);
        }
        .links{
            display: grid;
            grid-template-columns: repeat(4, 0fr);
            grid-template-rows: 1fr;
            gap: 15px;
            .link{
                cursor: pointer;
                border-radius: 100px;
                box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.1);
                justify-self: start;
                align-self: center;
                width: 50px;
                transition: transform 1s ease;
            }
            .link:hover {
                transform: scale(1.1);
            }
        }
    }
    .program-image{
        justify-self: center;
        align-self: center;
        visibility: hidden;
        .image{
            width: 550px;
            border-radius: 30px;
            box-shadow: 0px 0px 15px 10px rgba(0, 0, 0, 0.2);
        }
    }
}