@import "nullable.scss";

body{
    background: #303030;
    overflow: hidden;
}
.hidden{
    visibility: hidden;
}
.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.border{
    //border: 0.1px solid red; // рамка 
}

@font-face {
    font-family: "gost";
    src: url("../fonts/gost.ttf") format("truetype");
}

.main-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 50px 0px;
    row-gap: 20px;
    //height: 100%;
    color: #ddddddb2;
    font-family: "gost";
    font-size: 20px;
    border: 0.1px solid gray;
    border-radius: 50px;
    margin: 120px;
    .tittle{
        text-align: center;
        height: 30px;
        margin-top: 15px;
        border-bottom: 0.1px solid gray;
        font-weight: bold;
    }
    .left-grid{
        display: grid;
        gap: 40px;
        border-right: 0.1px solid gray;
        //border-bottom: 0.1px solid gray;
        .program{
            margin: 0px 10px;
        }
        .version{
            font-size: 18px;
            cursor: pointer;
            color: #ffffffe1;
        }
    }
    .middle-grid{
        display: grid;
        border-right: 0.1px solid gray;
        .material{
            margin: 0px 10px;
            text-align: center;
            .winkeyoff{
            cursor: pointer;
            color: #ffffffe1;
            }
        }
    }
    .right-grid{
        display: grid;
        .code{
            margin: 0px 10px;
            text-align: center;
            a{
                color: rgba(255, 255, 255, 0.7);
            }
            a:hover {
                text-decoration: underline;
            }
            a:visited {
                color: rgba(255, 255, 255, 0.7);
            }
            span {
                color: rgba(255, 255, 255, 0.7);
            }
            span:hover {
                text-decoration: underline;
                cursor: pointer;
            }
        }
    }
    .toMain{
        height: 50px;
        grid-column: 2;
        border-radius: 100px;
        font-size: 20px;
        background-color: #4882b8;
        color: white;
    }
}